.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.filler {
  flex: 1 1 0;
}
